<div class="animated fadeIn">
  <div class="row head-topic">
    <h1 class="heading">Modelexam.in Online Mock Test portal</h1>
    <h4>Stock Market * Insurance * Bank Exam * Govt Exam * Medical Entrance * CA/CS Entrance Exam * Engineering * Law
      Entrance * Financial Planning</h4>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let certificate of listOfCertications">
      <div class="card text-white"  [style.background-color]="random_bg_color()">
        <div class="card-body pb-0">
          <div class="text-value">{{certificate.certificationName}}</div>
          <div class="sub-content" *ngFor="let item of certificate.subContent">
            <div>{{item.content1}}</div>
            <div>{{item.content1}}</div>
            <div>{{item.content1}}</div>
            <div>{{item.content1}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#00D2EA;border-color:#00D2EA">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#A50F03;border-color:#A50F03">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#AB0065;border-color:#AB0065">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#257A00;border-color:#257A00">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#36F;border-color:#36F">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#E00000;border-color:#E00000">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#AB0065;border-color:#AB0065">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#E00000;border-color:#E00000">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white" style="background-color:#7101AB;border-color:#7101AB">
        <div class="card-body pb-0">
          <div class="text-value">NISM Certifications</div>
          <div class="sub-content">
            <div>NISM MUTUAL FUND</div>
            <div>NISM EQUITY DERIVATIVES</div>
            <div>NISM DEPOSITORY OPERATIONS</div>
            <div>NISM INVESTMENT ADVISER LEVEL 1</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-info">ENTER</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>